<section id="All-Products">
    <div class="container-fluid" style="padding: 50px;">
        <div class="row">
            <div class="card col-md-6" style="width: 20rem;">
                <img src="https://m.media-amazon.com/images/I/61bX2AoGj2L._SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Macbook Pro 2022 M2</h5>
                    <p class="card-text">2022 Apple MacBook Pro Laptop with M2 chip: 33.74 cm (13.3-inch) Retina
                        Display,
                        8GB RAM, 256GB SSD ​​​​​​​Storage, Touch Bar, Backlit Keyboard, FaceTime HD Camera; Silver
                        ​​​​​​​
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            <div class="card col-md-6" style="width: 20rem;">
                <img src="https://m.media-amazon.com/images/I/61aUBxqc5PL._SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Macbook Pro 2021 M1 Max</h5>
                    <p class="card-text">2021 Apple MacBook Pro (16-inch//41.05 cm, Apple M1 Max chip with 10‑core CPU and 32‑core GPU, 32GB RAM, 1TB SSD) - Space Grey​​​​​​​
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            <div class="card col-md-6" style="width: 20rem;">
                <img src="https://m.media-amazon.com/images/I/719C6bJv8jL._SX679_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Macbook Air 2022 M2</h5>
                    <p class="card-text">2022 Apple MacBook Air Laptop with M2 chip: 34.46 cm (13.6-inch) Liquid Retina Display, 8GB RAM, 256GB SSD Storage, Backlit Keyboard, 1080p FaceTime HD Camera. Works with iPhone/iPad; Midnight</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-6" style="width: 20rem;">
                <img src="https://m.media-amazon.com/images/I/61LNGJEMh0L._SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Macbook Pro 2023 M2 Pro</h5>
                    <p class="card-text">Apple 2023 MacBook Pro Laptop M2 Pro chip with 10‑core CPU and 16‑core GPU: 33.74 cm (14.2-inch), 16GB Unified Memory, 512GB SSD Storage. Works with iPhone/iPad; Space Grey</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            <div class="card col-md-6" style="width: 20rem;">
                <img src="https://m.media-amazon.com/images/I/61Y30DpqRVL._SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Macbook Pro 2021 M1 Pro</h5>
                    <p class="card-text">2021 Apple MacBook Pro (16-inch/41.05 cm, Apple M1 Pro chip with 10‑core CPU and 16‑core GPU, 16GB RAM, 1TB SSD) - Silver</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            <div class="card col-md-6" style="width: 20rem;">
                <img src="https://m.media-amazon.com/images/I/71vFKBpKakL._SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Macbook Air 2020 M1</h5>
                    <p class="card-text">2020 Apple MacBook Air Laptop: Apple M1 chip, 13.3-inch/33.74 cm Retina Display, 8GB RAM, 256GB SSD Storage, Backlit Keyboard, FaceTime HD Camera, Touch ID. Works with iPhone/iPad; Gold</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>