<section id="All-Products">
    <div class="container-fluid" style="padding: 50px;">
        <div class="row">
            <div class="card col-md-6" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/61bX2AoGj2L._SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Macbook Pro 2022 M2</h5>
                    <p class="card-text">2022 Apple MacBook Pro Laptop with M2 chip: 33.74 cm (13.3-inch) Retina
                        Display,
                        8GB RAM, 256GB SSD ​​​​​​​Storage, Touch Bar, Backlit Keyboard, FaceTime HD Camera; Silver
                        ​​​​​​​
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            <div class="card col-md-6" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/61bX2AoGj2L._SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Macbook Pro 2022 M2</h5>
                    <p class="card-text">2022 Apple MacBook Pro Laptop with M2 chip: 33.74 cm (13.3-inch) Retina
                        Display,
                        8GB RAM, 256GB SSD ​​​​​​​Storage, Touch Bar, Backlit Keyboard, FaceTime HD Camera; Silver
                        ​​​​​​​
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            <div class="card col-md-6" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/61bX2AoGj2L._SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Macbook Pro 2022 M2</h5>
                    <p class="card-text">2022 Apple MacBook Pro Laptop with M2 chip: 33.74 cm (13.3-inch) Retina
                        Display,
                        8GB RAM, 256GB SSD ​​​​​​​Storage, Touch Bar, Backlit Keyboard, FaceTime HD Camera; Silver
                        ​​​​​​​
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-6" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/61bX2AoGj2L._SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Macbook Pro 2022 M2</h5>
                    <p class="card-text">2022 Apple MacBook Pro Laptop with M2 chip: 33.74 cm (13.3-inch) Retina
                        Display,
                        8GB RAM, 256GB SSD ​​​​​​​Storage, Touch Bar, Backlit Keyboard, FaceTime HD Camera; Silver
                        ​​​​​​​
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            <div class="card col-md-6" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/61bX2AoGj2L._SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Macbook Pro 2022 M2</h5>
                    <p class="card-text">2022 Apple MacBook Pro Laptop with M2 chip: 33.74 cm (13.3-inch) Retina
                        Display,
                        8GB RAM, 256GB SSD ​​​​​​​Storage, Touch Bar, Backlit Keyboard, FaceTime HD Camera; Silver
                        ​​​​​​​
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            <div class="card col-md-6" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/61bX2AoGj2L._SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Macbook Pro 2022 M2</h5>
                    <p class="card-text">2022 Apple MacBook Pro Laptop with M2 chip: 33.74 cm (13.3-inch) Retina
                        Display,
                        8GB RAM, 256GB SSD ​​​​​​​Storage, Touch Bar, Backlit Keyboard, FaceTime HD Camera; Silver
                        ​​​​​​​
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>